<header>
  <img
    id="logo"
    src="/imgs/sunflower.png"
    alt="A cool sunflower wearing sun glasses logo"
    width="20"
    height="20"
  /><a href="/">{{ site.title }}</a>
</header>

<nav>
  <ul>
    {% for item in site.nav %}
    <li>
      <a href="{{ item.url }}" {% if item.url == page.url %}aria-current="page"{% endif %}>{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<aside>
  <noscript>
    <p>
      JavaScript is disabled in your browser. Some features may not work
      (Theme picker requires Javascript), but all content on this site works
      without it, and you are seeing a system theme.
    </p>
  </noscript>

  <form class="theme-picker" aria-label="Theme selection">
    <fieldset>
      <legend>Theme</legend>
      <label>
        <input type="radio" name="theme" value="light" /> Light
      </label>
      <label> <input type="radio" name="theme" value="dark" /> Dark </label>
      <label
        ><input type="radio" name="theme" value="auto" /> System
        (auto)</label
      >
    </fieldset>
  </form>
</aside>