---
layout: base.njk
title: Home
description: Thy Doan's project showcase
---

<h1>Welcome</h1>
<p>Take a look at my projects:</p>
<ul>
  <li><a href="/projects/cat-generator/">Cat Picture Generator</a></li>
  <li><a href="/projects/portfolio-site/">Personal Portfolio</a></li>
  <li><a href="/projects/theme-picker/">Theme Picker Widget</a></li>
</ul>