---
pagination:
  data: projects
  size: 1
  alias: project
permalink: "/projects/{{ project.slug }}/"
layout: base.njk
title: "{{ project.name }}"
---

<article>
  <h1>{{ project.name }}</h1>
  <img src="{{ project.image }}" alt="{{ project.name }}" width="300" />
  <p>{{ project.description }}</p>
</article>